* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #0d0d0d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 1rem;
  position: relative;
}

.header {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  text-shadow: 3px 3px 9px #e2e8f0;
  border-bottom: 2px solid #e2e8f0;
  margin: 0 1rem 1rem;
  padding: 1rem;
  font-family: "Hanken Grotesk", sans-serif;
  font-family: "Young Serif", serif;
}

.container {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-rows: 300px;
  justify-content: center;
  gap: 2rem;
  margin: auto;
  margin-bottom: 5rem;
}
.content {
  border-radius: 20px;
  box-shadow: #68a69b 5px 5px 15px;
  background-color: #bdf2ed;
  color: white;
  transition: all 1s;
}

.content1 {
  grid-column: span 2;
}
.content a {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  text-align: center;
  text-decoration: none;
  color: #0d0d0d;
}
.content p {
  font-weight: 600;
  line-height: 1.5;
}
.content h3 {
  font-size: 24px;
}
.content6 {
  grid-column: span 2;
}
.content a img {
  overflow: hidden;
  border-radius: 20px;
  width: 100%;
  height: 70%;
}
.content:hover {
  scale: 1.1;
}
footer {
  color: white;
  position: absolute;
  bottom: 1rem;
  font-size: larger;
  
   text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px rgb(255, 157, 0);
}


@media (max-width: 1200px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .content1,
  .content6 {
    grid-column: span 1;
  }
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
   .content1,
  .content6 {
    grid-column: span 1;
}
